$('#videospan').html("<%= escape_javascript(render :partial => 'groups/quiz') %>");
$('#notify').html("<div id='fading' class='alert alert-success'>Quiz Saved.</div>")
$("#fading").fadeOut(5000);

$('#quiz_appearance_time_module').click(function (event) {  
	hide_appear(this);
});

$('#quiz_due_date_module').click(function (event) {  
	hide_due(this);
});