<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>New Announcement - <%= "#{@course.short_name} - #{@course.name}" %> </h3>
    <p>
      <%= @announcement.announcement %>
    </p>
    <p>
      To check the course website, follow <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>