<style>
	.content{
		background-color: transparent;
		background-image: none;
		box-shadow: none;
	}
</style>
<div class="span6 offset3 well"><%= form_tag("enroll_to_course") do %>
  <div class="control-group">
  	<div class="controls">
  		<center><h3>Please Enter Enrollment Key</h3></center>
  	</div>
  </div>

  <center><%= text_field_tag 'unique_identifier' %></center>
  <div class="control-group">
  	<div class="controls">  		
  		<center><%= submit_tag "Enroll", :class => 'btn btn-primary' %></center>
  	</div>
  </div>
  

<% end %>
</div>