<script>
$(document).ready(function(){
    $('.list_header_link.contracted').next().hide();

    $('.list_header_link').click(function(event){
        event.preventDefault();
        var linkElem = $(this);
        var sectionElem = $(this).next();
        if(linkElem.hasClass('expanded')){
            linkElem.removeClass('expanded');
            linkElem.addClass('contracted');
            sectionElem.slideUp();
            linkElem.find('.list_header_state').html('(collapsed, click to expand)');
        }
        else if(linkElem.hasClass('contracted')){
            linkElem.removeClass('contracted');
            linkElem.addClass('expanded');
            sectionElem.slideDown();
            linkElem.find('.list_header_state').html('(expanded, click to collapse)');
        }
    });
});
</script>
<%= stylesheet_link_tag 'item_list' %>

<style>
		.myclass{
		width:250px;
	}
</style>
</style>
<div class="row">
<div class="span4">
	<!-- <script>
	function drag(ev)
	{
	ev.dataTransfer.setData("Text",ev.target.id);
	}

	$(document).ready(function(){
		$(".objectDrag").draggable({helper:'clone'});  
		
		$("#garbageCollector").droppable({
			accept: ".objectDrag",
			drop: function(event,ui){
					console.log("Item was Dropped");
					$(this).append($(ui.helper).clone());
					event.preventDefault();
					var data=event.dataTransfer.getData("Text");
					//ev.target.appendChild(document.getElementById(data));
				}
		});

	});
	</script>
	
	<div class="objectDrag" 
		style="width:10%; color:white;border:black 1px solid; background-color:#00A">Drag me</div>

	<div id="garbageCollector" style="width:100%; height:400px; background-color:#333; color:white;"> Drop items on me</div>
	
	
	
	<script>
function allowDrop(ev)
{
ev.preventDefault();
}

function drag(ev)
{
ev.dataTransfer.setData("Text",ev.target.id);
}

function drop(ev)
{
ev.preventDefault();
var data=ev.dataTransfer.getData("Text");
ev.target.appendChild(document.getElementById(data));
}
</script>


<div id="div1" ondrop="drop(event)"
ondragover="allowDrop(event)" style="width:100%; height:400px;">Drop here</div>

<div id="drag1" draggable="true"
ondragstart="drag(event)" width="336" height="69">Drag me</div>
-->

<a href="#" id="no-global-co" class="btn btn-secondary" title="No Global Close" data-content="You must click close button <button class='btn' data-dismiss='clickover' >Close</button>">No Global Clickover</a>

<script>
var storedData={}

function callme()
{
	console.debug("in call me!!")
}

function onDoubleClick(elem)
{
	console.debug("in this one"+elem);
	elem.popover('show');
	
}
function callFirst()
{
	alert("here");
}

function remove(elem)
{
	// should remove from db too!
	//document.getElementById(elem).
	$("#"+elem).remove()	
}
function save(elem)
{
	// should save to db too
	storedData[elem]=[document.getElementById("correct_"+elem).checked, document.getElementById("explain_"+elem).value]
	console.debug("element is "+elem);
	console.debug("explanation is "+document.getElementById("explain_"+elem).value)
	console.debug("correct is "+document.getElementById("correct_"+elem).checked)
	if(storedData[elem][0]==true)
	{
		for(key in storedData)
		{
			if(key==elem)
				continue;
			storedData[key][0]=false
		}
	}
}
function load(elem)
{
	console.debug("elem is "+elem)
	document.getElementById("correct_"+elem).checked=storedData[elem][0]
	document.getElementById("explain_"+elem).value=storedData[elem][1]
}
$(document).ready(function() {
	$('#no-global-co').clickover({ global_close: false}); 
  //$('.component').dblclick(function(e) {
  	//console.debug("in double click");
  //});
});
	jQuery(function() {
		var count=0;
    jQuery(".component").draggable({
        //  use a helper-clone that is append to 'body' so is not 'contained' by a pane
        helper: function() {
        	//callFirst(); // can call function here to save button for example..
            z=jQuery(this).clone().appendTo('body').css({
                'zIndex': 5
            }).attr("id","circle_"+count)//.attr("ondbclick","callme()");
            count++;
            
            console.debug("z is "+z)
            return z;
        },
        cursor: 'move',
        containment: ".ui-layout-center"
       
    });
	var toadd=""
    jQuery('.ui-layout-center').droppable({
        activeClass: 'ui-state-hover',
        accept: '.component',
        drop: function(event, ui) {
            if (!ui.draggable.hasClass("dropped")){
            	
            	// first entry into drop area
            	// I should create the online_answer, with these coordinates. and use these ids in everything.
            	
            	toadd=jQuery(ui.helper).clone().addClass("dropped").draggable({cursor: 'move',
        containment: ".ui-layout-center"});
        		toadd.attr("onclick","load('"+toadd.attr('id')+"')")
        		toadd.attr("rel","popover").attr("data-content","Correct:<input group='group1' id='correct_"+toadd.attr('id') +"' style='margin-left:20px;margin-bottom:2px' type='radio'/><br>Explanation:<input id='explain_"+toadd.attr('id') +"' type='text' /><br><input type='button'  class='btn btn-primary' value='Save' onclick=save('"+toadd.attr('id')+"') data-dismiss='clickover' /><input type='button' data-dismiss='clickover' class='btn' value='Cancel'/><input type='button' onclick=remove('"+toadd.attr('id')+"') class='btn btn-danger' value='Remove' data-dismiss='clickover'/>")//.attr()
                toadd.attr("data-original-title","")
                toadd.clickover({ global_close: false, template:  '<div class="popover myclass"><div class="arrow"></div><div class="popover-inner myclass"><div class="popover-content"><p></p></div></div></div>'})//.dblclick(function() {
                jQuery(this).append(toadd);}
                
                toadd=jQuery(ui.helper)  // every time a button is dragged it is here in toadd. could get its position and save it.
                
                console.debug("new position is "+toadd.position().top+" and id is "+toadd.id+" explanation is ")//+document.getElementById('explain_'+toadd.id).value() )
                
                
				//if (-1 !== $.inArray(onDoubleClick, toadd.data('events').dblclick)) {
//				    toadd.unbind('dblclick')//.bind('dblclick', onDoubleClick(this));
//				    toadd.clickover({ global_close: false, template:  '<div class="popover myclass"><div class="arrow"></div><div class="popover-inner myclass"><div class="popover-content"><p></p></div></div></div>'})//.dblclick(function() {
//        				//$('.component').popover('hide')
        				//$(this).clickover('toggle');
    				//});
				    
				    // template works.. so make it look better!!
				    // also see if you can make it double click instead!!
				    
				    
// using clickover (one click) for now
//				    toadd.popover({trigger: 'manual', html:'true'}).dblclick(function() {
//        				//$('.component').popover('hide')
//        				$(this).popover('toggle');
//    				});
				    //button.dblclick(onDoubleClick);
				//}
                
        			// toadd.dblclick(function(e) {
  	// console.debug("in here double click");
  // });
            }
        });
    });
    


$('.drop').droppable({
    tolerance: 'fit'
});

$('.drag').draggable({
    revert: 'invalid',
    stop: function(){
        $(this).draggable('option','revert','invalid');
    }
});

$('.drag').droppable({
    greedy: true,
    tolerance: 'touch',
    drop: function(event,ui){
        ui.draggable.draggable('option','revert',true);
    }
});



</script>


<div class="component">Element 1</div>
<div class="component">Element 2</div>
<%= image_tag "button3.png", :class=> "component"%>

<div class="ui-layout-center"> </div>


<!-- <div class="drop">
    <div class="drag"></div>
    <div class="drag"></div>
    <div class="drag"></div>
    <div class="drag"></div>
    <div class="drag"></div>
</div> -->
</div>

<div class="span8">
		
<div class="item_list">
<a href="#" class="list_header_link contracted"><h3 class="list_header">Stream Ciphers (week 1)</h3> <span class="list_header_state hidden">(expanded, click to collapse)</span></a><ul class="item_section_list"><li class="item_row unviewed">    <div>
          <h4>Week 1 - Problem Set</h4>
          <div style="margin: 4px 0px 8px;">
                                <a class="btn btn-primary" href="https://class.coursera.org/crypto-preview/quiz/start?quiz_id=57">Attempt Homework</a>
                                                <a id="btn_gensym_50a38c677a11f" href="#" onclick="sts('gensym_50a38c677a11f'); return false;" class="btn">Hide Previous Attempts</a>
                          </div>

          <table class="condensed-table plain-table">
                <tbody>
                     <tr>
                          <th style="width: 160px">Due Date:</th>
                          <td>Mon  2 Jul 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th>Hard Deadline:</th>
                          <td>Mon  6 Aug 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th># of Attempts:</th>
                          <td>0 / 4</td>
                     </tr>
                     <tr>
                          <th>Effective Score:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted Score:</th>
                          <td>N/A</td>
                     </tr>     
                </tbody>
          </table>
    </div>
    <div style="" id="element_gensym_50a38c677a11f">
        <h5>Previous Attempts</h5>
         <table class="condensed-table bordered-table zebra-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Time</th>
                    <th>Raw Score</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
<tr><th colspan="4" style="text-align:center">No submissions yet</th></tr>            </tbody>
         </table>

    </div>
</li><li class="item_row unviewed">    <div>
          <h4>Week 1 - Programming Assignment  [optional:  extra credit]</h4>
          <div style="margin: 4px 0px 8px;">
                                <a class="btn btn-primary" href="https://class.coursera.org/crypto-preview/quiz/start?quiz_id=18">Attempt Homework</a>
                                                <a id="btn_gensym_50a38c677f62b" href="#" onclick="sts('gensym_50a38c677f62b'); return false;" class="btn">Show Previous Attempts</a>
                          </div>

          <table class="condensed-table plain-table">
                <tbody>
                     <tr>
                          <th style="width: 160px">Due Date:</th>
                          <td>Mon 26 Mar 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th>Hard Deadline:</th>
                          <td>Mon 21 May 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th># of Attempts:</th>
                          <td>0 / 1000</td>
                     </tr>
                     <tr>
                          <th>Effective Score:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted Score:</th>
                          <td>N/A</td>
                     </tr>     
                </tbody>
          </table>
    </div>
    <div style="display:none" id="element_gensym_50a38c677f62b">
        <h5>Previous Attempts</h5>
         <table class="condensed-table bordered-table zebra-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Time</th>
                    <th>Raw Score</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
<tr><th colspan="4" style="text-align:center">No submissions yet</th></tr>            </tbody>
         </table>

    </div>
</li></ul><a href="#" class="list_header_link contracted"><h3 class="list_header">Block Ciphers (week 2)</h3> <span class="list_header_state hidden">(expanded, click to collapse)</span></a><ul class="item_section_list"><li class="item_row unviewed">    <div>
          <h4>Week 2 - Problem Set</h4>
          <div style="margin: 4px 0px 8px;">
                                <a class="btn btn-primary" href="https://class.coursera.org/crypto-preview/quiz/start?quiz_id=58">Attempt Homework</a>
                                                <a id="btn_gensym_50a38c67868af" href="#" onclick="sts('gensym_50a38c67868af'); return false;" class="btn">Show Previous Attempts</a>
                          </div>

          <table class="condensed-table plain-table">
                <tbody>
                     <tr>
                          <th style="width: 160px">Due Date:</th>
                          <td>Mon  9 Jul 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th>Hard Deadline:</th>
                          <td>Mon  6 Aug 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th># of Attempts:</th>
                          <td>0 / 4</td>
                     </tr>
                     <tr>
                          <th>Effective Score:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted Score:</th>
                          <td>N/A</td>
                     </tr>     
                </tbody>
          </table>
    </div>
    <div style="display:none" id="element_gensym_50a38c67868af">
        <h5>Previous Attempts</h5>
         <table class="condensed-table bordered-table zebra-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Time</th>
                    <th>Raw Score</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
<tr><th colspan="4" style="text-align:center">No submissions yet</th></tr>            </tbody>
         </table>

    </div>
</li><li class="item_row unviewed">    <div>
          <h4>Week 2 - Programming Assignment [optional: extra credit]</h4>
          <div style="margin: 4px 0px 8px;">
                                <a class="btn btn-primary" href="https://class.coursera.org/crypto-preview/quiz/start?quiz_id=121">Attempt Homework</a>
                                                <a id="btn_gensym_50a38c678aa8f" href="#" onclick="sts('gensym_50a38c678aa8f'); return false;" class="btn">Show Previous Attempts</a>
                          </div>

          <table class="condensed-table plain-table">
                <tbody>
                     <tr>
                          <th style="width: 160px">Due Date:</th>
                          <td>Mon  9 Jul 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th>Hard Deadline:</th>
                          <td>Mon  6 Aug 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th># of Attempts:</th>
                          <td>0 / 100</td>
                     </tr>
                     <tr>
                          <th>Effective Score:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted Score:</th>
                          <td>N/A</td>
                     </tr>     
                </tbody>
          </table>
    </div>
    <div style="display:none" id="element_gensym_50a38c678aa8f">
        <h5>Previous Attempts</h5>
         <table class="condensed-table bordered-table zebra-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Time</th>
                    <th>Raw Score</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
<tr><th colspan="4" style="text-align:center">No submissions yet</th></tr>            </tbody>
         </table>

    </div>
</li></ul><a href="#" class="list_header_link contracted"><h3 class="list_header">Message Integrity (week 3)</h3> <span class="list_header_state hidden">(expanded, click to collapse)</span></a><ul class="item_section_list"><li class="item_row unviewed">    <div>
          <h4>Week 3 - Problem Set</h4>
          <div style="margin: 4px 0px 8px;">
                                <a class="btn btn-primary" href="https://class.coursera.org/crypto-preview/quiz/start?quiz_id=69">Attempt Homework</a>
                                                <a id="btn_gensym_50a38c6791ed2" href="#" onclick="sts('gensym_50a38c6791ed2'); return false;" class="btn">Show Previous Attempts</a>
                          </div>

          <table class="condensed-table plain-table">
                <tbody>
                     <tr>
                          <th style="width: 160px">Due Date:</th>
                          <td>Mon 16 Jul 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th>Hard Deadline:</th>
                          <td>Mon  6 Aug 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th># of Attempts:</th>
                          <td>0 / 4</td>
                     </tr>
                     <tr>
                          <th>Effective Score:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted Score:</th>
                          <td>N/A</td>
                     </tr>     
                </tbody>
          </table>
    </div>
    <div style="display:none" id="element_gensym_50a38c6791ed2">
        <h5>Previous Attempts</h5>
         <table class="condensed-table bordered-table zebra-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Time</th>
                    <th>Raw Score</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
<tr><th colspan="4" style="text-align:center">No submissions yet</th></tr>            </tbody>
         </table>

    </div>
</li><li class="item_row unviewed">    <div>
          <h4>Week 3 - Programming Assignment [optional: extra credit]</h4>
          <div style="margin: 4px 0px 8px;">
                                <a class="btn btn-primary" href="https://class.coursera.org/crypto-preview/quiz/start?quiz_id=122">Attempt Homework</a>
                                                <a id="btn_gensym_50a38c6795b82" href="#" onclick="sts('gensym_50a38c6795b82'); return false;" class="btn">Show Previous Attempts</a>
                          </div>

          <table class="condensed-table plain-table">
                <tbody>
                     <tr>
                          <th style="width: 160px">Due Date:</th>
                          <td>Mon 16 Jul 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th>Hard Deadline:</th>
                          <td>Mon  6 Aug 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th># of Attempts:</th>
                          <td>0 / 1000</td>
                     </tr>
                     <tr>
                          <th>Effective Score:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted Score:</th>
                          <td>N/A</td>
                     </tr>     
                </tbody>
          </table>
    </div>
    <div style="display:none" id="element_gensym_50a38c6795b82">
        <h5>Previous Attempts</h5>
         <table class="condensed-table bordered-table zebra-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Time</th>
                    <th>Raw Score</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
<tr><th colspan="4" style="text-align:center">No submissions yet</th></tr>            </tbody>
         </table>

    </div>
</li></ul><a href="#" class="list_header_link contracted"><h3 class="list_header">Authenticated Encryption (week 4)</h3> <span class="list_header_state hidden">(expanded, click to collapse)</span></a><ul class="item_section_list"><li class="item_row viewed"><span class="hidden">Completed</span>    <div>
          <h4>Week 4 - Problem Set</h4>
          <div style="margin: 4px 0px 8px;">
                                <a class="btn btn-primary" href="https://class.coursera.org/crypto-preview/quiz/start?quiz_id=125">Attempt Homework</a>
                                                <a id="btn_gensym_50a38c679c4c6" href="#" onclick="sts('gensym_50a38c679c4c6'); return false;" class="btn">Show Previous Attempts</a>
                          </div>

          <table class="condensed-table plain-table">
                <tbody>
                     <tr>
                          <th style="width: 160px">Due Date:</th>
                          <td>Mon 23 Jul 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th>Hard Deadline:</th>
                          <td>Mon  6 Aug 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th># of Attempts:</th>
                          <td>2 / 4</td>
                     </tr>
                     <tr>
                          <th>Effective Score:</th>
                          <td>0.50 / 10.00<br><span style="color:#999999"><em>Explanation: Your effective maximum score is from your score for attempt 1.</em></span></td>
                     </tr>
                     <tr>
                          <th>Last Attempted:</th>
                          <td>Mon  8 Oct 2012  9:27:49 PM PDT</td>
                     </tr>
                     <tr>
                          <th>Last Attempted Score:</th>
                          <td>0.50 / 10.00</td>
                     </tr>     
                </tbody>
          </table>
    </div>
    <div style="display:none" id="element_gensym_50a38c679c4c6">
        <h5>Previous Attempts</h5>
         <table class="condensed-table bordered-table zebra-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Time</th>
                    <th>Raw Score</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
<tr><td>2</td><td>Mon  8 Oct 2012  9:27:49 PM PDT</td><td>0.50 / 10.00</td><td><a href="https://class.coursera.org/crypto-preview/quiz/feedback?submission_id=694">Review</a></td></tr><tr><td>1</td><td>Sun  1 Jul 2012  8:05:13 PM PDT</td><td>0.50 / 10.00</td><td><a href="https://class.coursera.org/crypto-preview/quiz/feedback?submission_id=693">Review</a></td></tr>            </tbody>
         </table>

    </div>
</li><li class="item_row unviewed">    <div>
          <h4>Week 4 - programming project [optional: extra credit]</h4>
          <div style="margin: 4px 0px 8px;">
                                <a class="btn btn-primary" href="https://class.coursera.org/crypto-preview/quiz/start?quiz_id=123">Attempt Homework</a>
                                                <a id="btn_gensym_50a38c67a0313" href="#" onclick="sts('gensym_50a38c67a0313'); return false;" class="btn">Show Previous Attempts</a>
                          </div>

          <table class="condensed-table plain-table">
                <tbody>
                     <tr>
                          <th style="width: 160px">Due Date:</th>
                          <td>Mon 23 Jul 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th>Hard Deadline:</th>
                          <td>Mon  6 Aug 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th># of Attempts:</th>
                          <td>0 / 1000</td>
                     </tr>
                     <tr>
                          <th>Effective Score:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted Score:</th>
                          <td>N/A</td>
                     </tr>     
                </tbody>
          </table>
    </div>
    <div style="display:none" id="element_gensym_50a38c67a0313">
        <h5>Previous Attempts</h5>
         <table class="condensed-table bordered-table zebra-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Time</th>
                    <th>Raw Score</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
<tr><th colspan="4" style="text-align:center">No submissions yet</th></tr>            </tbody>
         </table>

    </div>
</li></ul><a href="#" class="list_header_link contracted"><h3 class="list_header">Basic key exchange (week 5)</h3> <span class="list_header_state hidden">(expanded, click to collapse)</span></a><ul class="item_section_list"><li class="item_row unviewed">    <div>
          <h4>Week 5 - Problem Set</h4>
          <div style="margin: 4px 0px 8px;">
                                <a class="btn btn-primary" href="https://class.coursera.org/crypto-preview/quiz/start?quiz_id=61">Attempt Homework</a>
                                                <a id="btn_gensym_50a38c67a60d2" href="#" onclick="sts('gensym_50a38c67a60d2'); return false;" class="btn">Show Previous Attempts</a>
                          </div>

          <table class="condensed-table plain-table">
                <tbody>
                     <tr>
                          <th style="width: 160px">Due Date:</th>
                          <td>Mon 30 Jul 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th>Hard Deadline:</th>
                          <td>Mon 13 Aug 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th># of Attempts:</th>
                          <td>0 / 4</td>
                     </tr>
                     <tr>
                          <th>Effective Score:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted Score:</th>
                          <td>N/A</td>
                     </tr>     
                </tbody>
          </table>
    </div>
    <div style="display:none" id="element_gensym_50a38c67a60d2">
        <h5>Previous Attempts</h5>
         <table class="condensed-table bordered-table zebra-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Time</th>
                    <th>Raw Score</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
<tr><th colspan="4" style="text-align:center">No submissions yet</th></tr>            </tbody>
         </table>

    </div>
</li><li class="item_row unviewed">    <div>
          <h4>Week 5 - Programming Assignment [optional: extra credit]</h4>
          <div style="margin: 4px 0px 8px;">
                                <a class="btn btn-primary" href="https://class.coursera.org/crypto-preview/quiz/start?quiz_id=65">Attempt Homework</a>
                                                <a id="btn_gensym_50a38c67a9bcf" href="#" onclick="sts('gensym_50a38c67a9bcf'); return false;" class="btn">Show Previous Attempts</a>
                          </div>

          <table class="condensed-table plain-table">
                <tbody>
                     <tr>
                          <th style="width: 160px">Due Date:</th>
                          <td>Mon 30 Apr 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th>Hard Deadline:</th>
                          <td>Mon 21 May 2012  2:59:00 AM PDT</td>
                     </tr>
                     <tr>
                          <th># of Attempts:</th>
                          <td>0 / 1000</td>
                     </tr>
                     <tr>
                          <th>Effective Score:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted Score:</th>
                          <td>N/A</td>
                     </tr>     
                </tbody>
          </table>
    </div>
    <div style="display:none" id="element_gensym_50a38c67a9bcf">
        <h5>Previous Attempts</h5>
         <table class="condensed-table bordered-table zebra-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Time</th>
                    <th>Raw Score</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
<tr><th colspan="4" style="text-align:center">No submissions yet</th></tr>            </tbody>
         </table>

    </div>
</li></ul><a href="#" class="list_header_link contracted"><h3 class="list_header">Public Key Encryption from trapdoor permutations (week 6)</h3> <span class="list_header_state hidden">(expanded, click to collapse)</span></a><ul class="item_section_list"><li class="item_row unviewed">    <div>
          <h4>Week 6 - Problem Set</h4>
          <div style="margin: 4px 0px 8px;">
                                <a class="btn btn-primary" href="https://class.coursera.org/crypto-preview/quiz/start?quiz_id=101">Attempt Homework</a>
                                                <a id="btn_gensym_50a38c67b18cb" href="#" onclick="sts('gensym_50a38c67b18cb'); return false;" class="btn">Show Previous Attempts</a>
                          </div>

          <table class="condensed-table plain-table">
                <tbody>
                     <tr>
                          <th style="width: 160px">Due Date:</th>
                          <td>Mon  6 Aug 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th>Hard Deadline:</th>
                          <td>Mon 13 Aug 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th># of Attempts:</th>
                          <td>0 / 4</td>
                     </tr>
                     <tr>
                          <th>Effective Score:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted Score:</th>
                          <td>N/A</td>
                     </tr>     
                </tbody>
          </table>
    </div>
    <div style="display:none" id="element_gensym_50a38c67b18cb">
        <h5>Previous Attempts</h5>
         <table class="condensed-table bordered-table zebra-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Time</th>
                    <th>Raw Score</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
<tr><th colspan="4" style="text-align:center">No submissions yet</th></tr>            </tbody>
         </table>

    </div>
</li><li class="item_row unviewed">    <div>
          <h4>Week 6 - Programming Assignment [optional: extra credit]</h4>
          <div style="margin: 4px 0px 8px;">
                                <a class="btn btn-primary" href="https://class.coursera.org/crypto-preview/quiz/start?quiz_id=100">Attempt Homework</a>
                                                <a id="btn_gensym_50a38c67b5d02" href="#" onclick="sts('gensym_50a38c67b5d02'); return false;" class="btn">Show Previous Attempts</a>
                          </div>

          <table class="condensed-table plain-table">
                <tbody>
                     <tr>
                          <th style="width: 160px">Due Date:</th>
                          <td>Mon  6 Aug 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th>Hard Deadline:</th>
                          <td>Mon 13 Aug 2012 11:59:00 PM PDT</td>
                     </tr>
                     <tr>
                          <th># of Attempts:</th>
                          <td>0 / 100</td>
                     </tr>
                     <tr>
                          <th>Effective Score:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted:</th>
                          <td>N/A</td>
                     </tr>
                     <tr>
                          <th>Last Attempted Score:</th>
                          <td>N/A</td>
                     </tr>     
                </tbody>
          </table>
    </div>
    <div style="display:none" id="element_gensym_50a38c67b5d02">
        <h5>Previous Attempts</h5>
         <table class="condensed-table bordered-table zebra-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Time</th>
                    <th>Raw Score</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
<tr><th colspan="4" style="text-align:center">No submissions yet</th></tr>            </tbody>
         </table>

    </div>
</li></ul></div>
<!-- <button style='position:absolute; width: 3px; height: 5px; border: 1px solid #006; background: #9cf; '></button> -->	
</div>
</div>

