<div id="container" style="min-width: 400px; height: 100%; margin: 0 auto"></div><br><br />

<script>
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'bar',
                //width: 400,
        		height: <%= 50*@student_names.length + 150 %>
            },
            title: {
                text: 'Student Grades'
            },
            xAxis: {
                categories: <%= raw @student_names %>
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Grade'
                }
                
            },
            legend: {
            
                backgroundColor: '#FFFFFF',
                //reversed: true
            
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                        this.series.name +': '+ this.y +'<br/>'+
                        'Total: '+ this.point.stackTotal;
                }
            },
            plotOptions: {
                series: {
                    stacking: 'normal',
                },
                column:{
                	pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            // series: [{
                // name: 'John',  //should be quiz 1
                // data: [5, 3, 4, 7, 2]  // quiz 1 for all students. 5 is quiz 1 for student 1 ... i think will need to reverse loop quiz bara, students gowa.
            // }, {
                // name: 'Jane',
                // data: [2, 2, 3, 2, 1]
            // }, {
                // name: 'Joe',
                // data: [3, 4, 4, 2, 5]
            // }]
            series: <%= raw @data %>
        });
    });
    
    //chart.setSize(width, height)
    
});
</script>
