<%# This view renders the course editor%>

<%= render "shared/head" %>
<h4><%= "#{@course.short_name} - #{@course.name}" %></h4>
<div class="row">
<div class="span12">

<%= render "course" %>

<hr />
</div>

</div>