
function groupSelected() {
	//console.log(quizzes)
	//console.log("hereee")
  module_id = $('#person_group_id').val();
  $("#person_quiz_id").html("<option value=''>Select a Quiz</option>")
  
  
  		
for (var i = 0; i < quizzes.length; i++) {
  	var quiz= quizzes[i]
    if (quiz[0] == module_id) {
      $("#person_quiz_id").append("<option value='"+quiz[2]+"'>"+quiz[1]+"</option>"); 
    }
 };
  if ($("#person_quiz_id option").size() == 1) {
    $('#quiz_field').hide();
  } else {
    $('#quiz_field').show();
  }
}
 
$(document).ready(function() {
 quizzes = new Array();
<% for quiz in @quizzes -%>
  quizzes.push(new Array(<%= quiz.group_id %>, '<%=h quiz.name %>', <%= quiz.id %>));
<% end -%>

//console.log("here?"+quizzes)
  groupSelected();
  $('#person_group_id').change(function(event){
  	groupSelected();
  });
});
