<%= render 'shared/head' %>


<table class="table table-striped">
<thead>
	<th>
		Quiz 
	</th>
	<th>
		Instructions
	</th>
	<th>
		Number of questions
	</th>
</thead>
<% @quizzes_taken.each do |q| %>
<tr>
	<td>
	<%= q.name %>
	</td>
	<td>
	<%= q.instructions %>	
	</td>
	<td>
	<%= q.questions.size %>	
	</td>
</tr>
<% end %>
</table>